{% extends 'base_generic.html' %}

{% block title %}North Carolina Cyclo-cross Series{% endblock title %}

{% block content %}
<section class="upcoming_races">
    <div class="season_results">
        <h2>Results</h2>
    {% if current_season.has_results %}
        <p>
        {% if current_season.get_results|length_is:'2' %}
        <a href="{{ current_season.get_results.0 }}">View</a> or <a href="{{ current_season.get_results.1 }}">download</a> results
        {% else %}
        <a href="{{ current_season.get_results }}">View results</a>
        {% endif %}
        for all past races in the {{ current_season }} season.
        </p>
    {% else %}
        <p>Results for the {{ current_season }} season are being tabulated. Check back soon!</p>
    {% endif %}
    </div>

    <div class="races_this_weekend">
        <h2>This weekend</h2>
        {% if weekend_race_list %}
        <ul class="race_list">
        {% for race in weekend_race_list %}
            <li class="race">
                <h3 class="race_title">{{ race.date }}: {{ race.location.city }}</h3>
                <p class="race_address">{{ race.location.address }} (<a href="">directions</a>)</p>
                {% if race.pre_registration_link %}
                <a class="race_action" href="{{ race.pre_registration_link}}">Register</a>
                {% endif %}
                <p class="race_description">{{ race.description }}</p>
                <p class="race_organizer"><b>Race organizer:</b> {{ race.organizer.name }}, <a href="mailto:{{ race.organizer.email }}">{{ race.organizer.email }}</a>{% if race.organizer.phone %}, {{ race.organizer.phone }}{% endif %}</p>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>The {{ current_season }} season has ended. Check back next October for the new schedule!</p>
        {% endif %}
    </div>

    <div class="races_this_month">
        <h2>More races this month</h2>
        {% if remaining_races_for_month_list %}
        <ul class="race_list">
        {% for race in remaining_races_for_month_list %}
            <li class="race">
                <h3 class="race_title">{{ race.date }}: {{ race.location.city }}</h3>
                <p class="race_address">{{ race.location.address }} (<a href="">directions</a>)</p>
                {% if race.pre_registration_link %}
                <a class="race_action" href="{{ race.pre_registration_link}}">Register</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>The {{ current_season }} season has ended. Check back next October for the new schedule!</p>
        {% endif %}
    </div>
    <p class="full_race_list">See <a href="">all races</a> for the {{ current_season }} season.</p>
</section>
{% endblock content %}
